<!-- SOCIAL -->
<section class="bg-gray">
    <div class="container pt120 pb120">
        <!-- Section Heading -->
        <div class="section-heading mb60 col-md-6 black m-auto">
            <h5 class="subheading mb5">Stay Connected</h5>
            <h2 class="h2-md">Social</h2>
        </div>
        <div class="row black text-center">
            <div class="flexAlign">

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <a href="https://www.instagram.com/" class="get-connected">
                        <div class="social-container">
                            <div class="social-container-icon pb20">
                                <i class="social_instagram x6"></i>
                            </div>
                            <div class="social-title">
                                <h5 class="subheading dark">Instagram</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <a href="https://www.facebook.com/" class="get-connected">
                        <div class="social-container">
                            <div class="social-container-icon pb20">
                                <i class="social_facebook x6"></i>
                            </div>
                            <div class="social-title">
                                <h5 class="subheading dark">Facebook</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <a href="https://www.twitter.com/" class="get-connected">
                        <div class="social-container">
                            <div class="social-container-icon pb20">
                                <i class="social_twitter x6"></i>
                            </div>
                            <div class="social-title">
                                <h5 class="subheading dark">Twitter</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <a href="https://www.vimeo.com/" class="get-connected">
                        <div class="social-container">
                            <div class="social-container-icon pb20">
                                <i class="social_vimeo x6"></i>
                            </div>
                            <div class="social-title">
                                <h5 class="subheading dark">Vimeo</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -->
