<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head.html" . }}
<body>
    {{ partial "blocks/nav/transparent-white.html" . }}
    {{ partial "sections/hero-pages.html" . }}
    <section class="bg-white">
        <div class="container pt140 pb140">
            <div class="row">
                <div class="col-md-9 m-auto text-center">
                    <div class="black">
                        <h5 class="subheading mb15">{{ .Params.Sub }}</h5>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "sections/seperator.html" . }}
    {{ partial "sections/team.html" . }}
    {{ partial "sections/numbers.html" . }}
    {{ partial "sections/clients.html" . }}
    {{ partial "sections/seperator.html" . }}
    {{ partial "sections/contact.html" . }}
    {{ partial "blocks/footer/footer-black-2.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
