{{ partial "head.html" . }}
  {{ partial "block/nav/transparent-white.html" . }}
  {{ partial "section/hero-pages.html" . }}
    <section class="bg-white">
        <div class="container pt140 pb140">
            <div class="row">
                <div class="col-md-9 m-auto text-center">
                    <div class="black">
                        <h5 class="subheading mb15">{{ .Params.Sub }}</h5>
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "section/seperator.html" . }}
{{ partial "foot.html" . }}
