<section id="hero" class="hero-50 parallax">
    <div class="background-image overlay-black" data-overlay-dark="6">
        <img src="/img/cyprus.jpg" alt="#">
    </div>
    <div class="hero-content">
        <div class="container pl5p pr5p">
            <div class="col-md-9 text-center m-auto white">
                <h1 class="h1-sm mb20">{{ .Title }}</h1>
                <a href="{{ i18n "home-link" | absLangURL  }}" class="btn btn-hero btn-scroll"><i class="ion-chevron-left pr5"></i>{{ i18n "home"}}</a>
            </div>
        </div>
    </div>
</section>
