<!-- TEAM -->
<section class="bg-white">
    <div class="container pt100 pb100">
        <h5 class="subheading dark mb5 text-center">Our Team</h5>
        <div class="owl-carousel owl-theme owlTeam">

            {{ range .Site.Data.en }}
            {{ range .members }}
            <!-- Team Member -->
            <div class="team-container-2 black">
                <div class="team-hover-caption">
                    <div class="team-member-desc">

                        <div class="team-member-name">
                            <h3 class="h3-md">{{ .title }}</h3>
                        </div>
                        <div class="team-member-position">
                            <h5 class="subheading dark">{{ .position }}</h5>
                        </div>
                        <div class="team-member-body">
                            <p>{{ .description }}</p>
                        </div>
                        <div class="team-member-social">
                            <ul class="ul-h">
                                <li><a href="https://www.instagram.com/"><i class="social_instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                                <li><a href="https://www.twitter.com/"><i class="social_linkedin"></i></a></li>
                                <li><a href="https://www.vimeo.com/"><i class="social_vimeo"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <img src="/img/team/1.jpg" alt="#">
            </div>
            <!-- -->
            {{ end }}
            {{ end }}

        </div>
    </div>
</section>
<!-- -->
