<!-- FOOTER BLACK 2 -->
        <footer class="footer-black-2">
            <div class="container pt100 pb100">
                <div class="text-center m-auto col-md-6 white">
                    <img src="img/assets/logo.png" class="pb20" alt="#">
                    <p class="mb15">Unordinary digital agency crafting sophisticated and eccentric stuff that will leave you speechless, we had opportunity to work on wide variety of projects for different clients around the world, we're responsible and our client is our priority</p>
                    <p>Copyright &copy; 2017 The Forester.<br>All rights reserved.</p>
                    <ul class="ul-h social-icons mt40">
                        <li><a href="https://www.instagram.com/"><i class="social_instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class="social_twitter"></i></a></li>
                        <li><a href="https://www.vimeo.com/"><i class="social_vimeo"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- -->
