
        <!-- HERO -->
        <section id="hero" class="hero-fullscreen parallax hero-video overlay-black">
            <div class="background-image">
                <img src="img/backgrounds/bg-3.jpg" alt="#">
            </div>
            <div class="video-background background-image overlay-black" data-overlay-dark="2">
                <img src="" alt="#">
                <div class="video-foreground">
                    <iframe src="{{ .Params.home_hero_video_id }}" frameborder="0" allowfullscreen></iframe>
              U9LPKlqy5k4  </div>
            </div>
            <div class="hero-content">
                <div class="container pl5p pr5p">
                    <div class="col-md-8 text-center m-auto white">
                        <h5 class="hero-subheading mb15">{{ i18n "hero-1"}}</h5>
                        <h1 class="h1-md mb20">{{ i18n "hero-2"}}</h1>
                        <h5 class="lead h5-md mb20">{{ i18n "hero-3"}}<br>{{ i18n "hero-4"}}</h5>
                        <a href="#portfolio-anchor" class="btn btn-white btn-scroll mt10">View Projects</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- -->
