<!-- ABOUT US -->
        <section class="bg-gray">
            <div class="container pt110 pb110">
                <div class="row">
                    <div class="col-md-8 m-auto text-center">
                        <div class="black">
                            <h5 class="subheading mb15">{{ i18n "home-intro-title" }}</h5>
                            <h5 class="h5-lg mb15 black">{{ i18n "home-intro-description" }}</h5>
                            <p class="hidden-xs inline-block gray">{{ i18n "home-intro-subtitle" }}</p><a href="#" class="btn-p-gray ml10 gray">{{ i18n "home-intro-btn" }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -->
