<!-- TESTIMONIALS -->
        <section id="reviews-anchor" class="parallax">
            <div class="background-image overlay-black" data-overlay-dark="4">
                <img src="/img/beach.jpg" alt="#">
            </div>
            <div class="container pt120 pb120">
                <!-- Section Heading -->
                <div class="section-heading col-md-6 white m-auto">

                    <h2 class="h2-md">Testimonials</h2>
                </div>
                <!-- -->
                <div class="owl-carousel owl-theme owlTestimonials white">
                    <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
                    <div class="testimonial-wrap">
                        <div class="testimonial-quote">
                            <h5 class="h5-md mt0 mb20"><em>“</em> Fast and versatile, team at Forester executed each service that we requested rapidly. Very pleasant collective, looking forward to collaborate with them. <em>”</em></h5>
                            <h5 class="subheading">Philip White</h5>
                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////////////////// -->

                    <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
                    <div class="testimonial-wrap">
                        <div class="testimonial-quote">
                            <h5 class="h5-md mt0 mb20"><em>“</em> The Forester done a really great job helping me to customize and implement new features on my page, thank you Forester <em>”</em></h5>
                            <h5 class="subheading">Eva Exes</h5>
                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////////////////// -->

                    <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
                    <div class="testimonial-wrap">
                        <div class="testimonial-quote">
                            <h5 class="h5-md mt0 mb20"><em>“</em>  The template is well done, good design and simple code. Forester has incredible support and they are very friendly! <em>”</em></h5>
                            <h5 class="subheading">James Woodrow</h5>
                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////////////////// -->
                </div>
            </div>
        </section>
        <!-- -->
