<!-- SERVICES -->
<section id="services-anchor" class="bg-gray">
    <div class="container pt140 pb140">
        <!-- Section Heading -->
        <div class="section-heading col-md-6 black m-auto">
            <h5 class="subheading dark mb5">{{ .Params.home_service_leading_heading }}</h5>
            <h2 class="h2-md">{{ .Params.home_service_large_heading }}</h2>
        </div>
        <!-- -->
        <div class="row flexAlign">

            <!-- Service -->
            <div class="col-md-4 col-sm-6 pl10 pr10">
                <div class="service-container">
                    <div class="service-bg text-center bg-black">
                        <!-- Service Icon -->
                        <i class="iconsmind-{{ .Params.home_service_1_icon }} x5"></i>
                        <!-- -->
                    </div>
                    <div class="service-desc black text-center">
                        <h3 class="h3-md mt0 mb5">{{ .Params.home_service_1_heading }}</h3>
                        <h5 class="h5-sm mb30">{{ .Params.home_service_1_text }}</h5>
                    </div>
                </div>
            </div>
            <!-- -->
            <!-- Service -->
            <div class="col-md-4 col-sm-6 pl10 pr10">
                <div class="service-container">
                    <div class="service-bg text-center bg-black">
                        <!-- Service Icon -->
                        <i class="iconsmind-{{ .Params.home_service_2_icon }} x5"></i>
                        <!-- -->
                    </div>
                    <div class="service-desc black text-center">
                        <h3 class="h3-md mt0 mb5">{{ .Params.home_service_2_heading }}</h3>
                        <h5 class="h5-sm mb30">{{ .Params.home_service_2_text }}</h5>
                    </div>
                </div>
            </div>
            <!-- -->
            <!-- Service -->
            <div class="col-md-4 col-sm-6 pl10 pr10">
                <div class="service-container">
                    <div class="service-bg text-center bg-black">
                        <!-- Service Icon -->
                        <i class="iconsmind-{{ .Params.home_service_3_icon }} x5"></i>
                        <!-- -->
                    </div>
                    <div class="service-desc black text-center">
                        <h3 class="h3-md mt0 mb5">{{ .Params.home_service_3_heading }}</h3>
                        <h5 class="h5-sm mb30">{{ .Params.home_service_3_text }}</h5>
                    </div>
                </div>
            </div>
            <!-- -->


        </div>
        <div class="col-md-4 services-text-block text-center m-auto mt40">
            <p>{{ .Params.home_services_sub_text }}</p>
            <a href="{{ .Params.home_services_button_link }}" class="btn btn-black btn-scroll mt15">{{ .Params.home_services_button }}</a>
        </div>
    </div>
</section>
<!-- -->
