<section class="bg-white">
           <div class="container pt140 pb140">
               <div class="row mb60">
                   <div class="col-md-6">
                       <ul class="ul-v">
                           <li><i class="ion-checkmark-round black"></i>Unfeeling so rapturous discovery he exquisite, reasonably so middletons</li>
                           <li><i class="ion-checkmark-round black"></i>Old pleasure required removing elegance him had, down she bore</li>
                           <li><i class="ion-checkmark-round black"></i>Satisfied conveying an dependent contented gentleman</li>
                       </ul>
                   </div>
                   <div class="col-md-6">
                       <ul class="ul-v">
                           <li><i class="ion-arrow-right-c black"></i>Unfeeling so rapturous discovery he exquisite, reasonably so middletons</li>
                           <li><i class="ion-arrow-right-c black"></i>Old pleasure required removing elegance him had, down she bore</li>
                           <li><i class="ion-arrow-right-c black"></i>Satisfied conveying an dependent contented gentleman</li>
                       </ul>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <ul class="list-group">
                           <li class="list-group-item">Cras justo odio</li>
                           <li class="list-group-item">Dapibus ac facilisis in</li>
                           <li class="list-group-item">Vestibulum at eros</li>
                       </ul>
                   </div>
                   <div class="col-md-6">
                       <ul class="list-group-gray pl0">
                           <li class="list-group-item">Morbi leo risus</li>
                           <li class="list-group-item">Cras justo odio</li>
                           <li class="list-group-item">Vestibulum at eros</li>
                       </ul>
                   </div>
               </div>
           </div>
       </section>
