<section class="bg-white">
           <div class="container pt140 pb140">
               <div class="row mb60">
                   <div class="col-md-6">
                       <ul class="ul-v">
                           <li><i class="ion-checkmark-round black"></i>1Unfeeling so rapturous discovery he exquisite, reasonably so middletons</li>
                           <li><i class="ion-checkmark-round black"></i>Old pleasure required removing elegance him had, down she bore</li>
                           <li><i class="ion-checkmark-round black"></i>Satisfied conveying an dependent contented gentleman</li>
                       </ul>
                   </div>
                   <div class="col-md-6">
                       <ul class="ul-v">
                           <li><i class="ion-checkmark-round black"></i>1Unfeeling so rapturous discovery he exquisite, reasonably so middletons</li>
                           <li><i class="ion-checkmark-round black"></i>Old pleasure required removing elegance him had, down she bore</li>
                           <li><i class="ion-checkmark-round black"></i>Satisfied conveying an dependent contented gentleman</li>
                       </ul>
                   </div>
               </div>
           </div>
       </section>
