<!-- FOOTER BLACK 2 -->
        <footer class="footer-black-2">
            <div class="container pt100 pb100">
                <div class="text-center m-auto col-md-6 white">

                    <p class="mb15">{{ i18n "footer-text"}}</p>
                    <p>{{ i18n "copyright"}} &copy; 2017 {{ .Site.Title }}<br>{{ i18n "copyright-sub"}}</p>
                    <ul class="ul-h social-icons mt40">
                        <li><a href="https://www.instagram.com/"><i class="social_instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class="social_twitter"></i></a></li>
                        <li><a href="https://www.vimeo.com/"><i class="social_vimeo"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- -->
