<!-- FOOTER -->
        <footer class="footer-black-1">
            <div class="container pt100 pb100">
                <div class="row white">
                    <div class="col-md-9 col-sm-8">
                        <!-- Navigation Menu -->
                        <ul class="ul-h nav-menu width100-sm">
                            <li><a href="#hero" class="btn-scroll">Home</a></li>
                            <li><a href="#services-anchor" class="btn-scroll">Services</a></li>
                            <li><a href="#portfolio-anchor" class="btn-scroll">Gallery</a></li>
                            <li><a href="#team-anchor" class="btn-scroll">Team</a></li>
                            <li><a href="#contact-anchor" class="btn-scroll">Contact</a></li>
                            <li><a href="blog-boxed-3.html">Blog</a></li>
                        </ul>
                        <!-- -->
                        <!-- Contact Info -->
                        <ul class="ul-h footer-contact-info">
                            <li><p><i class="iconsmind-Phone pr10"></i>(633) 926-316</p></li>
                            <li><p><i class="iconsmind-Mail pr10"></i>support@forester.com</p></li>
                            <li><p><i class="iconsmind-Map-Marker2 pr10"></i>6333 Melrose Ave, CA 90069</p></li>
                        </ul>
                        <!-- -->
                    </div>
                    <div class="col-md-3 col-sm-4 text-right text-left-md">
                        <!-- Logo and Copyright -->
                        <div class="mb10">
                            <img src="img/assets/logo.png" alt="#">
                        </div>
                        Copyright © 2017 The Forester.<br>
                        All rights reserved. <a class="white" href="#"><u>Privacy Policy</u></a>
                        <!-- -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- -->
