<!-- ABOUT US -->
        <section class="bg-gray">
            <div class="container pt110 pb110">
                <div class="row">
                    <div class="col-md-8 m-auto text-center">
                        <div class="black">
                            <h5 class="subheading mb15">Our Story</h5>
                            <h5 class="h5-lg mb15 black">Unordinary digital agency crafting sophisticated and eccentric stuff that will leave you speechless, we had opportunity to work on wide variety of projects for different clients around the world, we're responsible and our client is our priority</h5>
                            <p class="hidden-xs inline-block gray">Interested in our story and want to meet us even better?</p><a href="#" class="btn-p-gray ml10 gray">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -->
