<!-- FEATURES -->
<section class="bg-white">
    <div class="container pt70 pb70">
        <div class="row">

            <!-- Feature -->
            <div class="col-md-4">
                <div class="feature-container-2 text-center black">
                    <div class="feature-icon-2">
                        <i class="iconsmind-Fingerprint x6"></i>
                    </div>
                    <div class="feature-desc-2">
                        <div class="feature-title mb10">
                            <h5 class="subheading dark">We're Unique</h5>
                        </div>
                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married summies imperia morgulis dotus</p>
                    </div>
                </div>
            </div>
            <!-- -->

            <!-- Feature -->
            <div class="col-md-4">
                <div class="feature-container-2 text-center black">
                    <div class="feature-icon-2">
                        <i class="iconsmind-Sport-Mode x6"></i>
                    </div>
                    <div class="feature-desc-2">
                        <div class="feature-title mb10">
                            <h5 class="subheading dark">We're Efficient</h5>
                        </div>
                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married summies imperia morgulis dotus</p>
                    </div>
                </div>
            </div>
            <!-- -->

            <!-- Feature -->
            <div class="col-md-4">
                <div class="feature-container-2 text-center black">
                    <div class="feature-icon-2">
                        <i class="iconsmind-Goggles x6"></i>
                    </div>
                    <div class="feature-desc-2">
                        <div class="feature-title mb10">
                            <h5 class="subheading dark">We're Eccentrics</h5>
                        </div>
                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married summies imperia morgulis dotus</p>
                    </div>
                </div>
            </div>
            <!-- -->

        </div>
    </div>
</section>
<!-- -->
