{{ "<!-- FOOTER WHITE 2 -->" | safeHTML }}

<footer class="footer-black-1">
    <div class="container pt90 pb90">
        <div class="text-center m-auto col-md-6 black">
            <img src="img/assets/logo-dark.png" class="pb20" alt="#">
            <p class="mb15">{{ with i18n "footer-message" }}{{ . | markdownify }}{{ end }}</p>
            <p>Copyright &copy; 2017 The Forester.<br>All rights reserved.</p>
            {{ with i18n .Site.Copyright }}{{ . | markdownify }}{{ end }}

            {{ with i18n "copyright" }}{{ . | markdownify }}{{ end }}
            <ul class="ul-h social-icons mt40">
                <li><a href="https://www.instagram.com/"><i class="social_instagram"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                <li><a href="https://www.twitter.com/"><i class="social_twitter"></i></a></li>
                <li><a href="https://www.vimeo.com/"><i class="social_vimeo"></i></a></li>

            </ul>
        </div>
    </div>
</footer>
