
        <!-- HERO -->
        <section id="hero" class="hero-fullscreen parallax hero-video overlay-black">
            <div class="background-image">
                <img src="img/backgrounds/bg-3.jpg" alt="#">
            </div>
            <div class="video-background background-image overlay-black" data-overlay-dark="2">
                <img src="" alt="#">
                <div class="video-foreground">
                    <iframe src="https://www.youtube.com/embed/pjlY5sRf4t0?loop=1&autoplay=1&mute=1&playlist=pjlY5sRf4t0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="hero-content">
                <div class="container pl5p pr5p">
                    <div class="col-md-8 text-center m-auto white">
                        <h5 class="hero-subheading mb15">We Are SolStolen</h5>
                        <h1 class="h1-md mb20">Something Unique</h1>
                        <h5 class="lead h5-md mb20">A place in the sun <br>stuff that will leave you speechless</h5>
                        <a href="#portfolio-anchor" class="btn btn-white btn-scroll mt10">View Projects</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- -->
