<!-- OUR NUMBERS -->
<section class="parallax">
    <div class="background-image overlay-black" data-overlay-dark="6">
        <img src="img/backgrounds/bg-3.jpg" alt="#">
    </div>
    <div class="container pt70 pb70">
        <div class="row">

            <!-- Number -->
            <div class="col-md-3 pl30 pr30">
                <div class="our-numbers-wrap white text-center">
                    <div class="number-counter">
                        <h2 class="h2-lg counter">10</h2>
                    </div>
                    <div class="number-counter-desc">
                        <div class="number-counter-title">
                            <h5 class="h5-md">Years</h5>
                        </div>
                        <p>We had a opportunity to work on wide variety of projects for different clients around the world</p>
                    </div>
                </div>
            </div>
            <!-- -->

            <!-- Number -->
            <div class="col-md-3 pl30 pr30">
                <div class="our-numbers-wrap white text-center">
                    <div class="number-counter">
                        <h2 class="h2-lg counter">596</h2>
                    </div>
                    <div class="number-counter-desc">
                        <div class="number-counter-title">
                            <h5 class="h5-md">Previous Employees</h5>
                        </div>
                        <p>Our team is formed of high end eccentric perfectionists who craft sophisticated work for clients</p>
                    </div>
                </div>
            </div>
            <!-- -->

            <!-- Number -->
            <div class="col-md-3 pl30 pr30">
                <div class="our-numbers-wrap white text-center">
                    <div class="number-counter">
                        <h2 class="h2-lg counter">100</h2>
                    </div>
                    <div class="number-counter-desc">
                        <div class="number-counter-title">
                            <h5 class="h5-md">Workspaces</h5>
                        </div>
                        <p>Our agency currently have 25 employees working full time jobs in productive environment</p>
                    </div>
                </div>
            </div>
            <!-- -->

            <!-- Number -->
            <div class="col-md-3 pl40 pr40">
                <div class="our-numbers-wrap white text-center">
                    <div class="number-counter">
                        <h2 class="h2-lg counter">0</h2>
                    </div>
                    <div class="number-counter-desc">
                        <div class="number-counter-title">
                            <h5 class="h5-md">Problems</h5>
                        </div>
                        <p>Our client is our priority, we're making sure the each client gets the equal attention</p>
                    </div>
                </div>
            </div>
            <!-- -->

        </div>
    </div>
</section>
