<!-- PORTFOLIO -->
<section id="portfolio-anchor" class="bg-white">
    <div class="portfolio width100 container">
        <div class="row text-center">
            <div class="portfolio-grid-fullwidth" data-gap="0">
                <!-- Portfolio Items Container-->
                <div class="portfolio-forester">

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Design" data-caption-style="2">
                        <!-- PROJECT PAGE LINK -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Logo Design</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">View Project</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/1.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Photo" data-caption-style="2">
                        <!-- PROJECT PAGE LINK -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Happy Face</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">View Project</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/2.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Branding" data-caption-style="2">
                        <!-- PROJECT PAGE LINK -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Can Brand</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">View Project</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/3.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Photo" data-caption-style="2">
                        <!-- PROJECT PAGE LINK -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Leaves</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">Play Video</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/4.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Branding" data-caption-style="2">
                        <!-- PROJECT PAGE LINK -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Label Tag</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">View Project</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/5.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                    <!-- Portfolio Item -->
                    <div class="col-md-4 col-sm-6" data-filter="Photo" data-caption-style="2">
                        <!-- LIGHTBOX IMAGE DESTINATION -->
                        <a href="portfolio-project-1.html">
                        <!-- -->
                            <div class="portfolio-item">
                                <div class="item-caption black">
                                    <div class="caption-desc">
                                        <div class="project-title">
                                            <h3 class="h3-md">Workspace</h3>
                                            <p>Her companions instrument set estimating sen remarkably solicitude ablare sonic</p>
                                        </div>
                                    </div>
                                    <div class="caption-btn">
                                        <h5 class="subheading dark">View Project</h5>
                                    </div>
                                </div>
                                <!-- UPDATE IMAGE DESTINATION BELOW -->
                                <img src="img/portfolio/6.jpg" alt="#">
                                <!-- -->
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- -->
