<!-- TESTIMONIALS -->
<section id="reviews-anchor" class="bg-gray">
    <div class="container pt100 pb100">
        <div class="owl-carousel owl-theme owlTestimonials black">

            <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
            <div class="testimonial-wrap">
                <div class="testimonial-avatar">
                    <img src="img/testimonials/1.png" alt="#" class="img-circle">
                </div>
                <div class="testimonial-quote">
                    <p class="mt0 mb20"><em>“</em> Fast and versatile, team at Forester executed each service that we requested rapidly. Very pleasant collective, looking forward to collaborate with them. <em>”</em></p>
                    <h5 class="subheading">Philip White</h5>
                </div>
            </div>
            <!-- //////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
            <div class="testimonial-wrap">
                <div class="testimonial-avatar">
                    <img src="img/testimonials/2.png" alt="#" class="img-circle">
                </div>
                <div class="testimonial-quote">
                    <p class="mt0 mb20"><em>“</em> The Forester done a really great job helping me to customize and implement new features on my page, thank you Forester <em>”</em></p>
                    <h5 class="subheading">Eva Exes</h5>
                </div>
            </div>
            <!-- //////////////////////////////////////////////////////////////// -->

            <!-- //////////////////////////////// Testimonial //////////////////////////////// -->
            <div class="testimonial-wrap">
                <div class="testimonial-avatar">
                    <img src="img/testimonials/3.png" alt="#" class="img-circle">
                </div>
                <div class="testimonial-quote">
                    <p class="mt0 mb20"><em>“</em> The template is well done, good design and simple code. Forester has incredible support and they are very friendly! <em>”</em></p>
                    <h5 class="subheading">James Woodrow</h5>
                </div>
            </div>
            <!-- //////////////////////////////////////////////////////////////// -->

        </div>
    </div>
</section>
<!-- -->
