<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "head.html" . }}

<body>
    {{ partial "block/nav/transparent-white.html" . }}
    {{ partial "section/home/hero.html" . }}

    {{ partial "section/home/selector.html" . }}
    {{ partial "section/home/intro.html" . }}
  {{ if .Site.Params.about.enable }}
      {{ partial "features.html" . }}
    {{ end }}
    {{ partial "section/home/ticks.html" . }}



    {{ if .Site.Params.portfolio.enable }}
      {{ partial "portfolio2.html" . }}
    {{ end }}

    {{ if .Site.Params.services.enable }}
      {{ partial "services2.html" . }}
    {{ end }}

    {{ if .Site.Params.services.enable }}
      {{ partial "numbers.html" . }}
    {{ end }}

    {{ if .Site.Params.team.enable }}
      {{ partial "testimonials.html" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact2.html" . }}
    {{ end }}


      {{ partial "block/footer/footer-black-2.html" . }}


    {{ partial "js.html" . }}
  </body>
</html>
