{{ partial "head.html" . }}
  {{ partial "block/nav/transparent-white.html" . }}
    {{ partial "section/hero-pages.html" . }}
  <!-- BLOG POST -->
         <section class="bg-white">
             <div class="container pt110 pb110">
                 <div class="row">
                     <!-- Blog Post -->
                     <div class="col-md-8">
                         <div class="blog-post-single">
                             <div class="blog-post-description">
                                 <div class="blog-post-category">
                                     <span>in <a href="#"><span class="subheading dark">News</span></a></span>
                                 </div>
                                 <div class="blog-post-title">
                                     <h3 class="h3-lg">{{ .Title }}</h3>
                                 </div>
                             </div>
                             <div class="blog-post-preview">
                                 <img src="/img/blog/single-post-images/post-1.jpg" alt="#">
                             </div>
                             <div class="blog-post-text">

                               {{ .Content }}

                            </div>
                             <div class="blog-post-bottom">
                                 <div class="row flexAlign">
                                     <div class="col-md-3">
                                         <!-- Blog Post Author -->
                                         <div class="post-author">
                                             Posted by <h5 class="subheading dark">Willie Rourke</h5>
                                         </div>
                                         <!-- -->
                                     </div>
                                     <div class="col-md-6 text-center">
                                         <!-- Blog Post Share -->
                                         <div class="post-share">
                                             <ul class="ul-h">
                                                 <li><a href="https://www.instagram.com/"><i class="social_instagram"></i></a></li>
                                                 <li><a href="https://www.facebook.com/"><i class="social_facebook"></i></a></li>
                                                 <li><a href="https://www.twitter.com/"><i class="social_twitter"></i></a></li>
                                                 <li><a href="https://www.vimeo.com/"><i class="social_vimeo"></i></a></li>
                                                 <li><a href="https://www.pinterest.com/"><i class="social_pinterest"></i></a></li>
                                                 <li><a href="https://www.dribbble.com/"><i class="social_dribbble"></i></a></li>
                                                 <li><a href="https://www.youtube.com/"><i class="social_youtube"></i></a></li>
                                             </ul>
                                         </div>
                                         <!-- -->
                                     </div>
                                     <div class="col-md-3">
                                         <!-- Blog Post Date -->
                                         <div class="post-date">
                                             Posted on {{.Date.Format "2006-01-02"}}
                                         </div>
                                         <!-- -->
                                     </div>
                                 </div>
                             </div>
                             <!-- Blog Post Comment Count -->
                             <div class="blog-post-commentcount">
                                 <h5 class="subheading dark show-comments"><i class="icon_chat pr5"></i>Show Comments (3)</h5>
                                 <h5 class="subheading dark hide-comments"><i class="icon_chat pr5"></i>Hide Comments</h5>
                             </div>
                             <!-- -->
                             <!-- Blog Post Comments -->
                             <div class="blog-post-comments">

                                 <!-- Blog Post Comment -->
                                 <div class="blog-post-comment">
                                     <div class="blog-post-comment-avatar">
                                         <img src="img/blog/single-post-images/comment-avatars/1.jpg" class="img-circle" alt="#">
                                     </div>
                                     <div class="author_date_comment">
                                         <div class="blog-post-comment-author">
                                             <h5 class="subheading dark">Maria Rhodes</h5>
                                         </div>
                                         <div class="blog-post-comment-date">
                                             <i class="icon_clock_alt"></i>1 Hour Ago
                                         </div>
                                         <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity. Elay rapid joy share allow age manor six.</p>
                                         <a href="#"><span class="reply">Reply</span></a>
                                     </div>
                                 </div>
                                 <!-- -->

                                 <!-- Blog Post Comment -->
                                 <div class="blog-post-comment">
                                     <div class="blog-post-comment-avatar">
                                         <img src="img/blog/single-post-images/comment-avatars/2.jpg" class="img-circle" alt="#">
                                     </div>
                                     <div class="author_date_comment">
                                         <div class="blog-post-comment-author">
                                             <h5 class="subheading dark">Willie Ericson</h5>
                                         </div>
                                         <div class="blog-post-comment-date">
                                             <i class="icon_clock_alt"></i>6 Hours Ago
                                         </div>
                                         <p>Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefor explain delight out few behaved lasting. Letters old hastily ham sending not sex chamber because.</p>
                                         <a href="#"><span class="reply">Reply</span></a>
                                     </div>
                                 </div>
                                 <!-- -->

                                 <!-- Blog Post Comment -->
                                 <div class="blog-post-comment">
                                     <div class="blog-post-comment-avatar">
                                         <img src="img/blog/single-post-images/comment-avatars/3.jpg" class="img-circle" alt="#">
                                     </div>
                                     <div class="author_date_comment">
                                         <div class="blog-post-comment-author">
                                             <h5 class="subheading dark">Peter Schwartz</h5>
                                         </div>
                                         <div class="blog-post-comment-date">
                                             <i class="icon_clock_alt"></i>1 Day Ago
                                         </div>
                                         <p>Guest it he tears aware as. Make my no cold of need. He been past in by my hard. Warmly thrown oh he common future. Otherwise concealed favourite frankness on be at dashwoods defective at. Sympathize interested simplicity at do projecting increasing terminated. As edward settle limits at in.</p>
                                         <p>Two before narrow not relied how except moment myself. Dejection assurance mrs led certainly.</p>
                                         <a href="#"><span class="reply">Reply</span></a>
                                     </div>
                                 </div>
                                 <!-- -->

                             </div>
                             <!-- -->
                             <!-- Blog Post Leave Comment -->
                             <div class="blog-post-leave-comment text-center">
                                 <h5 class="subheading dark">Leave a comment</h5>
                                 Required fields are marked with *
                                 <div class="post-comment-form">
                                     <form>

                                         <!-- Your Name -->
                                         <input type="text" name="name" class="form-your-name" placeholder="Your Name *">
                                         <!-- -->

                                         <!-- Your Email -->
                                         <input type="text" name="email" class="form-your-email" placeholder="Your Email *">
                                         <!-- -->

                                         <!-- Your Website -->
                                         <input type="text" name="email" class="form-your-website" placeholder="Your Website">
                                         <!-- -->

                                         <!-- Your Name -->
                                         <textarea name="name" class="form-your-comment" placeholder="Your Comment *"></textarea>
                                         <!-- -->

                                         <p class="mt20">Your email address will NOT be published!</p>

                                         <button type="submit" class="btn btn-ghost-black alt ml0">Post Comment</button>
                                     </form>
                                 </div>
                             </div>
                             <!-- -->
                         </div>
                     </div>
                     <!-- -->

                     <!-- Blog Post Sidebar -->
                     <div class="col-md-4">
                         <div class="blog-post-sidebar">

                             <!-- RECENT POSTS -->
                             <div class="widget-box recent-posts">
                                 <div class="widget-title">
                                     <h5 class="subheading dark">Recent Posts</h5>
                                 </div>
                                 <!-- Recent Post -->
                                 <div class="recent-post">
                                     <a href="#">
                                         <h3 class="h3-md">Hipster's Guide To Dressing Kingly</h3>
                                         <div class="recent-post-preview">
                                             <img src="/img/blog/blog-post-thumbnails/preview-6.jpg" alt="#">
                                         </div>
                                         <div class="recent-post-date">
                                             30 Minutes Ago
                                         </div>
                                     </a>
                                 </div>
                                 <!-- -->
                                 <!-- Recent Post -->
                                 <div class="recent-post">
                                     <a href="#">
                                         <h3 class="h3-md">Windy November</h3>
                                         <div class="recent-post-preview">
                                             <img src="/img/blog/blog-post-thumbnails/preview-2.jpg" alt="#">
                                         </div>
                                         <div class="recent-post-date">
                                             6 Hours Ago
                                         </div>
                                     </a>
                                 </div>
                                 <!-- -->
                                 <!-- Show All -->
                                 <a href="blog-boxed-3.html"><h5 class="subheading dark mt40">Show All Posts</h5></a>
                                 <!-- -->

                             </div>
                             <!-- -->

                             <!-- CATEGORIES -->
                             <div class="widget-box categories">
                                 <div class="widget-title">
                                     <h5 class="subheading dark">Categories</h5>
                                 </div>
                                 <div class="blog-category"><a href="#">Health</a></div>
                                 <div class="blog-category"><a href="#">Lifestyle</a></div>
                                 <div class="blog-category"><a href="#">Photography</a></div>
                                 <div class="blog-category"><a href="#">Travel</a></div>
                             </div>
                             <!-- -->





                         </div>
                     </div>
                     <!-- -->
                 </div>
             </div>
         </section>
         <!-- -->
         <section class="bg-gray">
             <div class="container pt40 pb40">
             <!-- Blog Articles Navigation -->
                 <div class="blog-articles-nav">
                     <!-- Previous Post -->
                     <div class="prev-post">
                         <a href="#"><h5 class="subheading dark"><i class="ion-chevron-left pr5"></i>Prev Post</h5></a>
                     </div>
                     <!-- -->
                     <!-- All Posts -->
                     <div class="all-posts">
                         <a href="blog-boxed-3.html"><h5 class="subheading dark"><i class="icon_grid"></i>All Posts</h5></a>
                     </div>
                     <!-- -->
                     <!-- Next Post -->
                     <div class="next-post">
                         <a href="#"><h5 class="subheading dark">Next Post<i class="ion-chevron-right pl5"></i></h5></a>
                     </div>
                     <!-- -->
                 </div>
             <!-- -->
             </div>
         </section>
         {{ partial "section/seperator.html" . }}
     {{ partial "foot.html" . }}
